@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
    font-family: var(--font01);
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section.text {
    background-color: white;
    color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section pre {
    padding-bottom: 2em;
}

section.image {
    background-color: rgb(51, 51, 51);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
}

section.image#img1 {
    background-image: url(../image/background001.jpg);
}

section.image#img2 {
    background-image: url(../image/background002.jpg);
    
}

section.image pre {
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 0.5px 0px black;
    background-color: rgba(0, 0, 0, 0.514);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: var(--font01);
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}

.icon {
    padding: 10px;
    font-size: 1.1em;
}
